---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import CardCategory from '../components/products/cardCategory';
import Footer from '../components/complexFooter';
import PromoSectionLarge from '../components/promo/promoSectionLarge';

---

<Layout title="Mobilă la comandă, la preț de fabrică in Barlad">
	<main>
    <PromoSectionLarge 
      client:visible
      title={"Mobila la comanda Barlad"}
      description={"Explorează cea mai rafinată colecție de mobilier lucrat manual din Barlad.  Piesele noastre îmbină stilul, confortul și durabilitatea pentru a-ți transforma spațiile de locuit. Cumpără acum și oferă casei tale o eleganță atemporală!"}  
      pageHeaderBgImg={"../mobila-moldova-harta.png"}
      pageHeaderMinVh="55vh"
    />
    <div class="container my-5">

      <div class="row mb-5">
        <div class="d-block text-center mb-5">
          <h3>
            De ce să alegi mobila la comandă din Bârlad? 
          </h3>
          <p class="lead">
            La fabrica noastră din Bârlad, producem mobilă la comandă la prețuri direct de producător. Oferim soluții personalizate pentru dormitoare, bucătării, livinguri și paturi tapițate, garantând calitate și durabilitate.
          </p>
        </div>
        <div class="col-md-6">
          <a href="#">
            <div class="card card-background align-items-start mb-4 mb-lg-0 h-100">
              <div class="full-background" style="background-image:url(mobila-dormitor.jpg);background-size:cover"></div>
              <div class="card-body align-items-end d-flex">
                <div class="d-block mt-10">
                  <p class="text-white font-weight-bold mb-1"></p>
                  <h2 class="text-white font-weight-bolder">Mobila Dormitor</h2>
                  <a href="/mobila-dormitor" class="text-white text-sm font-weight-semibold mb-0">Descoperă gama noastră de mobilă de dormitor personalizată în Bârlad, creată pentru a oferi confort și starea de bine pe care le meriți. Ne specializăm în fabricarea de mobilă adaptată nevoilor tale, incluzând somiere și saltele de calitate premium, esențiale pentru un somn odihnitor.

                    &gt;</a>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <div class="mb-4">
            <a href="#">
              <div class="card card-background align-items-start mb-4 mb-lg-0">
                <div class="full-background" style="background-image:url(mobila-bucatarie.webp);background-size:cover"></div>
                <div class="card-body align-items-end d-flex">
                  <div class="d-block mt-10">
                    <p class="text-white font-weight-bold mb-1"></p>
                    <h2 class="text-white font-weight-bolder">Mobila bucatarie</h2>
                    <p class="text-white">
                      Mobila de bucătărie este esențială pentru a crea un spațiu practic și funcțional, ideal pentru momentele petrecute alături de cei dragi. 
                    </p>
                    <a href="/mobila-bucatarie" class="text-white text-sm font-weight-semibold mb-0">
                      Transformă bucătăria ta într-un spațiu modern și funcțional cu mobila personalizată produsă local in Barlad
              
                    </a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="">
            <a href="#">
              <div class="card card-background align-items-start mb-4 mb-lg-0">
                <div class="full-background" style="background-image:url(https://images.unsplash.com/photo-1505693314120-0d443867891c?q=80&w=2718&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);background-size:cover"></div>
                <div class="card-body align-items-end d-flex">
                  <div class="d-block mt-10">
                    <p class="text-white font-weight-bold mb-1"></p>
                    <h2 class="text-white font-weight-bolder">Paturi</h2>
                    <a href="#" class="text-white text-sm font-weight-semibold mb-0">Un pat de dormitor este piesa centrală de mobilier din orice cameră de odihnă, oferind un spațiu ideal pentru relaxare și un somn odihnitor. 
                      Alegerea unui pat potrivit nu doar că îmbunătățește confortul, ci contribuie și la armonizarea decorul. Descoperiti paturi dormitor de diverse dimensiuni, adaptate nevoilor fiecărei persoane.
                    </a>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>


      <div class="row mb-5">
        <div class="col-md-6 col-lg-3">
          <a href="#"></a>
          <div class="card card-background align-items-start mb-4 mb-lg-0 undefined">
            <a href="#">
              <div
                class="full-background"
                style="background-image:url(https://images.unsplash.com/photo-1618220179428-22790b461013?q=80&w=2727&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);background-size:cover"
              ></div>
            </a>
            <div class="card-body text-center w-100 pt-8">
              <a href="#"></a>
              <div class="d-block mt-10">
                <a href="/mobila-sufragerie" title="mobila sufragerie la comanda barlad">
                  <h2 class="text-white font-weight-bolder" title="mobila sufragerie la comanda">
                    Sufragerie
                  </h2>
                </a>
                <a href="#" title="descopera mobila sufragerie in barlad" class="text-white text-sm font-weight-semibold mb-0">
                  Descopera
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <a href="#"></a>
          <div class="card card-background align-items-start mb-4 mb-lg-0 undefined">
            <a href="#">
              <div
                class="full-background"
                style="background-image:url(https://images.unsplash.com/photo-1542901689-8917f44e3541?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);background-size:cover"
              ></div>
            </a>
            <div class="card-body text-center w-100 pt-8">
              <a href="#"></a>
              <div class="d-block mt-10">
                <a href="#">
                  <h2 class="text-white font-weight-bolder">Copii</h4>
                </a>
                <a href="#" class="text-white text-sm font-weight-semibold mb-0">
                  Descopera &gt;
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <a href="#"></a>
          <div class="card card-background align-items-start mb-4 mb-lg-0 undefined">
            <a href="#">
              <div
                class="full-background"
                style="background-image:url(mobila-hol.jpg);background-size:cover"
              ></div>
            </a>
            <div class="card-body text-center w-100 pt-8">
              <a href="#"></a>
              <div class="d-block mt-10">
                <a href="#">
        
                  <h2 class="text-white font-weight-bolder">Hol</h2>
                </a>
                <a href="#" class="text-white text-sm font-weight-semibold mb-0">
                  Descopera &gt;
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <a href="#"></a>
          <div class="card card-background align-items-start mb-4 mb-lg-0 undefined">
            <a href="#">
              <div
                class="full-background"
                style="background-image:url(birouri.jpg);background-size:cover"
              ></div>
            </a>
            <div class="card-body text-center w-100 pt-8">
              <a href="#"></a>
              <div class="d-block mt-10">
                <a href="#">
              
                  <h2 class="text-white font-weight-bolder">Birou</h2>
                </a>
                <a href="#" class="text-white text-sm font-weight-semibold mb-0">
                  Descopera &gt;
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block text-center mb-5">
        <h3>
          Mobilă la comandă la preț de fabrică
        </h3>
        <p class="text-dark font-weight-bold">
          Fabrică de mobilă la comandă în <b>Barlad</b>, vinde din stoc sau la comandă, mobilă bucătărie, mobilă dormitor, mobilă living, paturi tapițate și canapele.
        </p>
      </div>  
      <div class="row mb-5">
        {data.categories.map((category, index) => (
          <div class="col-md-4" key={index}>
            <CardCategory
              thumb_src={category.thumb_src}
              collection={category.collection}
              title={category.title}
            />
          </div>
        ))}
      </div>
    <Footer />
    </div>
  </main>
</Layout>
