---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';
import CategoryFilter from '../components/products/categoryFilters';

// filter reviews with ID 01
let productReviews = data.reviews.filter(x => x.productID == "01");
---

<Layout title="Magazin mobila la comanda Barlad">
	<main>
    <Navbar />
    <div class="container mt-5">
      <CategoryFilter  
        title="Descopera concepte de mobila la comanda"
        description={data.products[0].description}
        price={data.products[0].price}
      />    
    </div>
  </main>

</Layout>