---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';

console.log(data);

---

<Layout title="Oferta mobila la comanda de la mobilamoldova.ro">
  <main>
    <Navbar />
    <div class="container mt-5">
      
    </div>
  </main>
</Layout>
