---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';

console.log(data);

---

<Layout title="Recicleaza mobila barlad">
  <main>
    <Navbar />
    <div class="container mt-5">
      <section class="mb-5">
        <h2 class="h5">Serviciul de colectare și reciclare mobilier vechi</h2>
        <p>ÎMPREUNĂ REDUCEM DEȘEURILE ȘI CONTRIBUIM LA PROTECȚIA MEDIULUI ÎNCONJURĂTOR!</p>
        <p>Mobila Moldova și FEPRA îți oferă posibilitatea de a preda mobilierul vechi și a-l recicla în mod responsabil, la cerere.</p>
        <div class="bg-light p-3 border rounded">
            <h3 class="h6">Beneficii</h3>
            <ul>
                <li><strong>Demontare și Debarasare:</strong> Echipa noastră demontează mobilierul vechi din locuința ta.</li>
                <li><strong>Colectare Eficientă:</strong> Mobilierul este colectat și procesat pentru reciclare.</li>
                <li><strong>Reciclare Responsabilă:</strong> Mobilierul colectat este reciclat în mod sustenabil.</li>
            </ul>
        </div>
    </section>

    <section class="mb-5">
        <h3 class="h5">Cum funcționează?</h3>
        <ol>
            <li><strong>Tu înlocuiești mobilierul:</strong> Solicită colectarea mobilierului vechi în magazine sau online.</li>
            <li><strong>Noi programăm colectarea:</strong> Echipa noastră te va ajuta cu preluarea solicitării și planificarea.</li>
            <li><strong>Eficientizăm livrarea:</strong> Datele completate sunt transmise pentru coordonare.</li>
            <li><strong>Reciclăm responsabil:</strong> FEPRA gestionează reciclarea în conformitate cu standardele de mediu.</li>
        </ol>
    </section>

    <section>
        <h3 class="h5">Cele mai frecvente întrebări</h3>
        <p><strong>Care sunt zonele acoperite?</strong> București și orașele din Ilfov: Buftea, Balotești, Chitila, Corbeanca și Snagov.</p>
        <p><strong>Care sunt condițiile serviciului?</strong> Achiziții de peste 5.000 de lei în magazine sau online.</p>
        <p><strong>Ce tipuri de mobilier sunt acceptate?</strong> Scaune, mese, dulapuri, paturi, saltele și altele.</p>
        <p><strong>Cine poate solicita serviciul?</strong> Exclusiv clienții Mobila Moldova.</p>
    </section>
    </div>
  </main>
</Layout>
